@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500&display=swap');

:root {
	--clr-dark: #125125;
	--clr-light: #fefefe;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--clr-dark);
	font-family: 'Ubuntu', serif;
}

body {
	background-color: var(--clr-light);
}

li {
	list-style: none;
}

a:link { text-decoration: none; }

.spinner {
  margin: auto;
}
